.cardsDash{
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
margin-left: 15px;
  &>*{  padding-right:  15px;
  margin-bottom: 20px;

  }
}
mat-toolbar {
  background: transparent!important;
  font-weight: bold;
  margin: 5px;
}
