<app-header id="header"></app-header>

<mat-grid-list cols="12" [rowHeight]="fullHeight" class="full-page">
    <mat-grid-tile [colspan]="leftColumn" (window:resize)="handleResize()" class="left-side">
        <div class="login-side">
            <img
              src=""
              src="./assets/plugins/images/logo_complementa.svg"
              class="small-image"
              alt="Login Image"/>
            <form [formGroup]="formLogin">
              <mat-form-field class="login-field">
                <mat-label>Email</mat-label>
                <input type="email" matInput id="usuario" name="usuario" formControlName="usuario" required >
                <mat-error *ngIf="formLogin.get('usuario')?.errors?.['required']">
                  Digite o usuário
                </mat-error>
                <mat-error *ngIf="formLogin.get('usuario')?.errors?.['pattern']">
                  O e-mail deve pertencer ao domínio ufpr.br
                </mat-error>
              </mat-form-field>
              
              <mat-form-field class="login-field">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" id="senha" name="senha" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="formLogin.get('senha')?.errors?.['required']">
                  Digite sua senha
                </mat-error>
             </mat-form-field>
              <button routerLink="/aluno/home" mat-button type="submit" id="submit-button" (click)="logar()">
                Fazer login
              </button>
            </form>
            <div class="no-account">
              <p>Não tem conta?</p>
              <button mat-button class="btn btn-success" id="dialog-button" (click)="openDialog()">Cadastre-se</button>
            </div>
          </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="rightColumn" (window.resize)="handleResize()" class="right-side">
            <div class="large-logo">
              <img src="./assets/plugins/images/logo_complementa.svg" />
            </div>
    </mat-grid-tile>
  </mat-grid-list>
