<div class="edit">
  <h2>Editar Perfil</h2>
  <form #formAluno="ngForm">
    <!-- Nome -->
    <mat-form-field class="full-input-field">
      <mat-label>Nome</mat-label>
      <input matInput type="text" [(ngModel)]="aluno.nome" #nome="ngModel" name="nome" placeholder="Nome Completo"
        required minlength="2">
      <mat-error *ngIf="formAluno.controls['nome']?.errors?.['required'] && formAluno.controls['nome']?.touched">
        Digite o nome completo!
      </mat-error>
      <mat-error *ngIf="formAluno.controls['nome']?.errors?.['minlength'] && formAluno.controls['nome']?.touched">
        O nome deve conter ao menos 2 caracteres!
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="full-input-field">
      <mat-label>Email UFPR</mat-label>
      <input matInput type="email" [(ngModel)]="aluno.email" name="email" #email="ngModel"
        placeholder="ex. nome.aluno@ufpr.br" readonly email minlength="2" pattern=".+@ufpr\.br$"
        placeholder="ex. nome.aluno@ufpr.br">
    </mat-form-field>

    <mat-form-field class="full-input-field">
      <mat-label>Curso</mat-label>
      <mat-select [(ngModel)]="graduacao" name="curso" #curso="ngModel" required>
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option.nome }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="curso.errors?.['required'] && curso.touched">
        Seleção do curso é obrigatória!
      </mat-error>
    </mat-form-field>

    <!-- GRR -->
    <mat-form-field class="half-input-field">
      <mat-label>GRR</mat-label>
      <input matInput type="text" id="grr" [(ngModel)]="aluno.grr" name="grr" required pattern="^\d{8}$"
        placeholder="ex. 20100000" #grr="ngModel" readonly>
      <mat-error *ngIf="grr.errors?.['required'] && grr.touched">
        O GRR é obrigatório.
      </mat-error>
      <mat-error *ngIf="grr.errors?.['pattern'] && grr.touched">
        O GRR deve conter 8 dígitos numéricos.
      </mat-error>
    </mat-form-field>

    <!-- Celular -->
    <mat-form-field class="half-input-field" id="right-input-field">
      <mat-label>Celular</mat-label>
      <input matInput type="text" [(ngModel)]="aluno.telefone" name="telefone" required placeholder="ex. (41)99999-9999"
        mask="(00)00000-0000" #telefoneField="ngModel">
      <mat-error *ngIf="telefoneField.errors?.['required'] && telefoneField.touched">
        Digite o número do celular.
      </mat-error>
      <mat-error *ngIf="telefoneField.errors?.['minlength'] && telefoneField.touched">
        O número do celular deve conter 11 dígitos.
      </mat-error>
    </mat-form-field>

    <!-- Validação de Senha -->
    <mat-form-field class="full-input-field">
      <mat-label>Senha Atual</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="alunoLogado.senha" name="validarSenha"
        minlength="8" (keyup.enter)="validarSenhaAtual()">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="!senhaAtualValida && alunoLogado.senha !== ''">
        Senha inválida!
      </mat-error>
    </mat-form-field>

    <!-- Senha -->
    <mat-form-field class="full-input-field">
      <mat-label>Senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="senha" name="senha" minlength="8"
        (input)="verificarSenha()" [disabled]="!senhaAtualValida">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="!senhaValida && senha !== '' && confirmarSenha !== ''">
        • Deve conter pelo menos 8 caracteres. <br>
        • Deve conter pelo menos um caractere especial (!@#$%^&*()]).<br>
        • Deve conter pelo menos um caractere numérico. <br>
        • Deve conter pelo menos uma letra maiúscula. <br>
        • Deve conter pelo menos uma letra minúscula. <br>
      </mat-error>
    </mat-form-field>


    <!-- Confirmação de Senha -->
    <mat-form-field class="full-input-field">
      <mat-label>Confirme sua senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="confirmarSenha" name="confirmarSenha"
        minlength="8" (input)="verificarSenha()" [disabled]="!senhaAtualValida">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="!senhaValida">
        As senhas não correspondem.
      </mat-error>
    </mat-form-field>
  </form>

  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="atualizarAluno(formAluno)"
    [disabled]="!formAluno.valid">Salvar</button>

  <button mat-button (click)="openDialog(atividade, projeto)">Abrir</button>
</div>