<!-- colocar um ngIf para verificar se o usuario tem atividades -->

<ng-container *ngIf="!hasActivities()">
	<app-warning [Description]="'nenhuma atividade'"></app-warning>
</ng-container>
<div class="cards-atvs">
	<div class="let-of-cards">
		<ng-container *ngFor="let atividade of atividades">
			<app-rect-card [nome]="atividade.nome" [status]="atividade.status" [dataCriacaoLabel]="dataCriacaoLabel"
				[dataCriacao]="atividade.dataCriacao" [dataLimiteCandidaturaLabel]="dataLimiteCandidaturaLabel"
				[dataLimiteCandidatura]="atividade.dataLimiteCandidatura" [dataConclusaoLabel]="dataConclusaoLabel"
				[dataConclusao]="atividade.dataConclusao" [nameButtonRect]="nameButtonRect"></app-rect-card>
		</ng-container>
	</div>

	<div class="card-square">
		<app-warn-card [TitleWarning]="TitleWarning" [Description]="Description" [Button]="Button"></app-warn-card>
	</div>
</div>
