<div class="cards-projects">
	<div class="let-of-cards" *ngIf="usuarioLogado.papel === 'ORIENTADOR' || usuarioLogado.papel === 'COORDENADOR' || usuarioLogado.papel === 'ALUNO' || usuarioLogado.papel === 'ADMIN'; else noActivities">
		<div class="table-header" *ngIf="usuarioLogado.papel === 'ORIENTADOR' || usuarioLogado.papel === 'COORDENADOR'">
			<button mat-raised-button color="primary" (click)="adicionarProjeto()" class="button custom-button">
				{{buttonNew}}
			</button>
		</div>
		<mat-form-field>
			<mat-label>Filter</mat-label>
			<input matInput (keyup)="applyFilter($event)" #input>
			<mat-icon matSuffix>search</mat-icon>
		</mat-form-field>
		<ng-container *ngIf="(obs | async) as projetos">
			<ng-container *ngIf="projetos.length > 0; else noActivities">
				<app-rect-card *ngFor="let projeto of projetos"
				[nome]="projeto.nome"
				[status]="projeto.status!"
				[firstLabel]="tipoLabel"
				[id]="projeto.id!"

				[firstValue]="projeto.tipo!"

				[thirdLabel]="orientadorLabel"
				[thirdValue]="projeto.orientador!.nome"

				[nameButtonRect]="buttonOne"
				[buttonColor]="'btn-green'"
				(clickButtonRect)="abrirProjeto(projeto)"

				[showSecondButton]="false"

				>
				</app-rect-card>
			</ng-container>
		</ng-container>
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>
	<ng-template #noActivities>
		<div class="warning-card" *ngIf="inputValue && inputValue.length > 0">
			<app-warning [Description]="'O projeto \'' + inputValue + '\' não foi encontrado'"></app-warning>
		</div>
	</ng-template>
	<div class="card-square">
		<app-warn-card [TitleWarning]="TitleWarning" [Description]="Description" [Button]="Button"></app-warn-card>
	</div>
</div>
