
<!-- /colocar um ngIf para verificar se o usuario tem projetos -->
<ng-container *ngIf="!hasProjects()">
	<app-warning [Description]="'nenhum projeto'"></app-warning>
</ng-container>


<div class="cards-projects">

	<!-- <ng-container *ngFor="let project of projects">
		<app-card-rect [project]="project"></app-card-rect>
	</ng-container> -->
	<div class="let-of-cards">
		<app-rect-card [Title]="Title" [Subtitle]="Subtitle" [firstLabel]="firstLabel" [firstValue]="firstValue"
			[secondLabel]="secondLabel" [secondValue]="secondValue" [thirdLabel]="thirdLabel"
			[thirdValue]="thirdValue"></app-rect-card>
		<app-rect-card [Title]="TitleOne" [Subtitle]="SubtitleOne" [firstLabel]="firstLabelOne"
			[firstValue]="firstValueOne" [secondLabel]="secondLabelOne" [secondValue]="secondValueOne"
			[thirdLabel]="thirdLabelOne" [thirdValue]="thirdValueOne"></app-rect-card>
		<app-rect-card [Title]="TitleTwo" [Subtitle]="SubtitleTwo" [firstLabel]="firstLabelTwo"
			[firstValue]="firstValueTwo" [secondLabel]="secondLabelTwo" [secondValue]="secondValueTwo"
			[thirdLabel]="thirdLabelTwo" [thirdValue]="thirdValueTwo"></app-rect-card>
		<app-rect-card [Title]="TitleThree" [Subtitle]="SubtitleThree" [firstLabel]="firstLabelThree"
			[firstValue]="firstValueThree" [secondLabel]="secondLabelThree" [secondValue]="secondValueThree"
			[thirdLabel]="thirdLabelThree" [thirdValue]="thirdValueThree"></app-rect-card>
		<app-rect-card [Title]="TitleFour" [Subtitle]="SubtitleFour" [firstLabel]="firstLabelFour"
			[firstValue]="firstValueFour" [secondLabel]="secondLabelFour" [secondValue]="secondValueFour"
			[thirdLabel]="thirdLabelFour" [thirdValue]="thirdValueFour"></app-rect-card>
		<app-rect-card [Title]="TitleFive" [Subtitle]="SubtitleFive" [firstLabel]="firstLabelFive"
			[firstValue]="firstValueFive" [secondLabel]="secondLabelFive" [secondValue]="secondValueFive"
			[thirdLabel]="thirdLabelFive" [thirdValue]="thirdValueFive"></app-rect-card>
		<app-rect-card [Title]="TitleFive" [Subtitle]="SubtitleFive" [firstLabel]="firstLabelFive"
			[firstValue]="firstValueFive" [secondLabel]="secondLabelFive" [secondValue]="secondValueFive"
			[thirdLabel]="thirdLabelFive" [thirdValue]="thirdValueFive"></app-rect-card>
		<app-rect-card [Title]="TitleFive" [Subtitle]="SubtitleFive" [firstLabel]="firstLabelFive"
			[firstValue]="firstValueFive" [secondLabel]="secondLabelFive" [secondValue]="secondValueFive"
			[thirdLabel]="thirdLabelFive" [thirdValue]="thirdValueFive"></app-rect-card>
		<app-rect-card [Title]="TitleFive" [Subtitle]="SubtitleFive" [firstLabel]="firstLabelFive"
			[firstValue]="firstValueFive" [secondLabel]="secondLabelFive" [secondValue]="secondValueFive"
			[thirdLabel]="thirdLabelFive" [thirdValue]="thirdValueFive"></app-rect-card>
		<app-rect-card [Title]="TitleFive" [Subtitle]="SubtitleFive" [firstLabel]="firstLabelFive"
			[firstValue]="firstValueFive" [secondLabel]="secondLabelFive" [secondValue]="secondValueFive"
			[thirdLabel]="thirdLabelFive" [thirdValue]="thirdValueFive"></app-rect-card>
		<app-rect-card [Title]="TitleFive" [Subtitle]="SubtitleFive" [firstLabel]="firstLabelFive"
			[firstValue]="firstValueFive" [secondLabel]="secondLabelFive" [secondValue]="secondValueFive"
			[thirdLabel]="thirdLabelFive" [thirdValue]="thirdValueFive"></app-rect-card>
		<app-rect-card [Title]="TitleFive" [Subtitle]="SubtitleFive" [firstLabel]="firstLabelFive"
			[firstValue]="firstValueFive" [secondLabel]="secondLabelFive" [secondValue]="secondValueFive"
			[thirdLabel]="thirdLabelFive" [thirdValue]="thirdValueFive"></app-rect-card>
		<app-rect-card [Title]="TitleFive" [Subtitle]="SubtitleFive" [firstLabel]="firstLabelFive"
			[firstValue]="firstValueFive" [secondLabel]="secondLabelFive" [secondValue]="secondValueFive"
			[thirdLabel]="thirdLabelFive" [thirdValue]="thirdValueFive"></app-rect-card>

	</div>

	<div class="card-square">
		<app-warn-card [TitleWarning]="TitleWarning" [Description]="Description" [Button]="Button"></app-warn-card>
	</div>
</div>
