<!-- /colocar um ngIf para verificar se o usuario tem projetos -->
<div class="cards-projects">
	<div class="let-of-cards" *ngIf="hasProjects()">
		<ng-container *ngFor="let project of obs | async">
			<app-rect-card [nome]="project.nome" [status]="project.status!" [firstLabel]="tipoLabel" [id]="project.id!"
				[firstValue]="project.tipo!" [secondLabel]="cursoLabel" [secondValue]="project.curso!.nome"
				[thirdLabel]="orientadorLabel" [thirdValue]="project.orientador!.nome"
				[nameButtonRect]="nameButtonRect"></app-rect-card>
		</ng-container>
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>
	<div class="warning-card" *ngIf="!hasProjects()">
		<ng-container>
			<app-warning [Description]="'Você não participa de nenhum projeto'"></app-warning>
		</ng-container>
	</div>
	<div class="card-square">
		<app-warn-card [TitleWarning]="TitleWarning" [Description]="Description" [Button]="Button"></app-warn-card>
	</div>
</div>
