
<!-- /colocar um ngIf para verificar se o usuario tem projetos -->
<ng-container *ngIf="!hasProjects()">
	<app-warning [Description]="'nenhum projeto'"></app-warning>
</ng-container>


<div class="cards-projects">

	<!-- <ng-container *ngFor="let project of projects">
		<app-card-rect [project]="project"></app-card-rect>
	</ng-container> -->
	<div class="let-of-cards">
		

	</div>

	<div class="card-square">
		<app-warn-card [TitleWarning]="TitleWarning" [Description]="Description" [Button]="Button"></app-warn-card>
	</div>
</div>
