.mat-toolbar {
    background-color: #404649;
}

.navbar-logo {
    max-width: 100%;
    padding-bottom: 2px;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.list-group-item mat-icon {
    margin-right: 10px;
    margin-left: 5px;
}

.list-group-item span {
    flex: 1;
}

a {
    text-decoration: none;
    color: #f8f8f8;
    padding: 2% 5% 2% 5%;
}

a:hover {
    background-color: #525c61;
}
