.outForm{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.card-square{
	flex:0.27;
}

.formulario-column{
	flex: 1;
	margin-right: 15px;
}
.atvHead {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 18rem;
	justify-content: space-between;
	margin-top: 15px;

	&>* {
		margin-right: 0px;

		&:nth-child(2) {
			margin-right: 0px;
		}
	}

	button {
		background: linear-gradient(#318b35, #297e42);
		border-radius: 20px;
		height: 50%;
		font-size: 14px;
	}
}

.lateraldireita{
	display: flex;
	flex-direction: column;
	margin-top:15px;
}

.buttons {
	margin-left: 15px;

	&>:nth-child(1) {
		background: linear-gradient(#318b35, #297e42);
	}

	&>:nth-child(2) {
		background: transparent;
	}
}

.form-left {
	display: flex;
	flex: 0.50;
	flex-direction: column;
}

.form-right {
	display: flex;
	flex: 0.53;
	flex-direction: column;
}

.form-inside-right {
	display: flex;
	justify-content: space-between;
	&>* {
		flex: 1;
		margin-right: 15px;

		&:nth-child(2) {
			margin-right: 0px;
		}
	}

	@media(max-width: 800px) {
		flex-direction: column;

		&>* {
			margin-right: 0px;

		}
	}
}

.atividades-card{
	margin-left: 15px;
}

.formula, form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&>* {
		flex: 1;
		margin-right: 15px;

		&:nth-child(2) {
			margin-right: 0px;
		}
	}

	@media(max-width: 1280px) {
		flex-direction: column;

		&>* {
			margin-right: 0px;

		}
	}
}

.textArea, textarea{
	width: 100%;
	height: 100%;
	overflow: auto;
	resize: none;
}

form{
	flex:0.70;
	margin-top: 15px;
	margin-left: 15px;
}
.cardGeral{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	@media(max-width: 800px) {
		flex-direction: column;
	}
}
