<div class="cardGeral">
	<div class="lateraldireita">
		<div class="card-square">
			<app-square-card [title]="'Lista de alunos nesse projeto'" (buttonCallback)="openDialog()"
				[description]="''" [buttonText]="'dd'"></app-square-card>
		</div>
		<div class="card-square">
			<app-square-card [title]="'Lista de alunos nesse projeto'" [description]="''"
				[buttonText]="'dd'"></app-square-card>
		</div>
	</div>
	<div class="formulario-column">
		<div class="formulario-row">
			<form [formGroup]="projectForm" class="formula">
				<div class="form-left">
					<!-- preencher campo nome do porjeto e a variavel title para fazer o twoway data biding -->
					<mat-form-field>
						<mat-label>Nome do Projeto</mat-label>
						<input [(ngModel)]="projeto.nome" matInput formControlName="nome" placeholder="Nome do Projeto">
					</mat-form-field>
					<!-- <mat-form-field>
					<mat-label>Status</mat-label>
					<input matInput formControlName="status" placeholder="Status">
				</mat-form-field> -->
					<mat-form-field>
						<mat-label>Monitores</mat-label>
						<mat-select formControlName="monitores" multiple>
							<mat-option *ngFor="let monitor of projeto.monitores" [value]="monitor.id">
								{{ monitor.nome }}- GRR{{ monitor.grr }}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<div class="form-inside-right">
						<mat-form-field>
							<mat-label>Orientador</mat-label>
							<input matInput formControlName="orientador" placeholder="Orientador">
						</mat-form-field>

						<mat-form-field>
							<mat-label>Tipo</mat-label>
							<input matInput formControlName="tipo" placeholder="Tipo">
						</mat-form-field>
					</div>

				</div>
				<div class="form-right">
					<!-- <mat-form-field>
						<mat-label>Alunos</mat-label>
						<mat-select formControlName="alunos" multiple>
							<mat-option *ngFor="let aluno of projeto.alunos" [value]="aluno.id">
								{{aluno.nome}} - GRR{{ aluno.grr }}
							</mat-option>
						</mat-select>
					</mat-form-field> -->
					<mat-form-field>
						<mat-label>Objetivo Geral</mat-label>
						<input matInput formControlName="objetivoGeral" placeholder="Objetivo Geral">					</mat-form-field>


					<mat-form-field>
						<mat-label>Objetivos Específicos</mat-label>
						<textarea rows="4" matInput formControlName="objetivosEspecificos"
							placeholder="Objetivos Específicos"></textarea>
					</mat-form-field>
				</div>
			</form>
		</div>
		<div class="buttons" *ngIf="!isViewMode">
			<button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
			<button mat-button (click)="cancelar()">Cancelar</button>
		</div>
		<div class="atividades-card">
			<div class="atvHead">
				<h1>Atividades</h1>
				<button mat-raised-button color="primary" (click)="novaAtividade()">Nova Atividade</button>
			</div>
			<div class="atividades">
				<div class="atividade" *ngFor="let atividade of atividades" (click)="editarAtividade()">
					<app-square-card [title]="atividade.nome!" [description]="atividade.status!" [buttonText]="buttonText"
						[imageUrl]="imgAtv"></app-square-card>
				</div>

			</div>
		</div>
	</div>

	<!-- ngIf botoes só aparecem se for na tela de edição do projeto ou criação do projeto -->


</div>
