<section class="main-container">
    <div class="title-container">
        <div class="title">{{ Title }}</div>
        <div class="subtitle">{{ Subtitle }}</div>
    </div>
    <div class="info-container">
        <div class="info-item">
            <div class="label">{{ firstLabel }}</div>
            <div class="value">{{ firstValue }}</div>
        </div>
        <div class="info-item">
            <div class="label">{{ secondLabel }}</div>
            <div class="value">{{ secondValue }}</div>
        </div>
        <div class="info-item">
            <div class="label">{{ thirdLabel }}</div>
            <div class="value">{{ thirdValue }}</div>
        </div>
        <button mat-raised-button class="button custom-button">
            Detalhes!
        </button>

    </div>
</section>
