<mat-card>
    <mat-card-title>
        {{ nome }}
        <mat-card-subtitle> {{ status }}</mat-card-subtitle>
    </mat-card-title>
    <mat-card-content class="info-container">
        <div class="info-item">
            <div class="label">{{ firstLabel }}</div>
            <div class="value">{{ firstValue }}</div>
        </div>
        <div class="info-item">
            <div class="label">{{ secondLabel }}</div>
            <div class="value">{{ secondValue }}</div>
        </div>
        <div class="info-item">
            <div class="label">{{ thirdLabel }}</div>
            <div class="value">{{ thirdValue }}</div>
        </div>
        <div *ngIf="showButton">
            <button mat-raised-button class="button custom-button {{buttonColor}}" (click)="onButtonClick()">
                {{nameButtonRect}}
            </button>
        </div>
    </mat-card-content>
</mat-card>
