mat-card {
    display: flex;
    flex-direction: column;
    border-radius: 12px 12px 12px 12px;
    padding: 0px;
}

mat-card-title {
    display: flex;
        background-color: #c9d4db;
        font-weight: 600;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 12px 12px 0px 0px;
        align-items: center;
        color: #343434;
}

.subtitle, mat-card-subtitle {

    padding-left: 15px ;

    color: #737373;
    font-weight: 500;

    @media (max-width: 576px) {
        font-size: 14px;
    }
}

.info-container, mat-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
    background-color: #dce6ec;
    border-radius: 0px 0px 12px 12px;
}

.info-item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.label {
    color: #737373;
    font-weight: 600;

}

.value {
    color: #737373;
    font-weight: 500;

}


.custom-button {
    background: linear-gradient(180deg, #2494D3, #0076D0) !important;
    color: white !important;
    border-radius: 20px;

}

.custom-button:hover {
    background: linear-gradient(90deg, #0076D0, #2494D3);
    color: white;
}
