<section class="main-container">
    <div class="title-container">
        <div class="title">{{ nome }}</div>
        <div class="subtitle">{{ status }}</div>
    </div>
    <div class="info-container">
        <div class="info-item">
            <div class="label">{{ dataCriacaoLabel }}</div>
            <div class="value">{{ dataCriacao | date: 'dd/MM/yyyy' }}</div>
        </div>
        <div class="info-item">
            <div class="label">{{ dataLimiteCandidaturaLabel }}</div>
            <div class="value">{{ dataLimiteCandidatura | date: 'dd/MM/yyyy' }}</div>
        </div>
        <div class="info-item">
            <div class="label">{{ dataConclusaoLabel }}</div>
            <div class="value">{{ dataConclusao | date: 'dd/MM/yyyy' }}</div>
        </div>
        <button mat-raised-button class="button custom-button">
            {{nameButtonRect}}
        </button>

    </div>
</section>
