<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>home</mat-icon><span> Página Inicial</span>
    </a>
    <ng-container *ngIf="checkRole('Administrador')" >
        <a mat-list-item routerLink="/graduacoes">
            <mat-icon>school</mat-icon><span> Graduações</span>
        </a>
        <a mat-list-item routerLink="/competencias">
            <mat-icon>account_balance</mat-icon><span> Competências</span>
        </a>
        <a mat-list-item routerLink="/complexidades">
            <mat-icon>account_tree</mat-icon><span> Complexidades</span>
        </a>
        <a mat-list-item routerLink="/contestacoes">
            <mat-icon>warning</mat-icon><span> Contestações</span>
        </a>
        <a mat-list-item routerLink="/usuarios">
            <mat-icon>people</mat-icon><span> Usuários</span>
        </a>
      </ng-container>
      </mat-nav-list>
      
    <a (click)="logout()" mat-list-item routerLink="login" class="list-group-item list-group-item" id="sair">
      <mat-icon>exit_to_app</mat-icon><span> Sair</span>
  </a>

    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Colocar alguma coisa util aqui</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
