<mat-sidenav-container class="sidenav-container colorbrand">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <app-navbar></app-navbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="profileBox">
        <span class="meuPerfil">trocar pelo component</span>
      </div>
    </mat-toolbar>
    <app-title></app-title>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
