
.colorbrand{
  background-color: transparent;
}
.sidenav {
  width: 200px;
  background-color: #404649;
}

.mat-toolbar{
  max-width: 100%;
  background-color: transparent;

}

.profile-box{
  display:flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  margin-top: 3%;
}
