<div class="activity-dialog">
    <div class="close">
        <button mat-dialog-close class="close-button" (click)="onNoClick()"><mat-icon class="close-button-icon">close</mat-icon></button>
    </div>

    <div mat-dialog-title>
        <div class="activity-header">
            <div class="left-items">





                <div class="status" *ngIf="estado!='Nova'">
                    <button mat-flat-button class="status-button" [ngStyle]="{'background-image': statusButtonColor}">{{estado}}</button>
                        <h6 [ngStyle]="{'display': displayTimestamp}">Criada em dd/MM/yyy</h6>
                </div>

        
                <div class="activity-header-data">
                    <div *ngIf="estado!='Nova' ; else newActivity">
                        <h5>Nome do Projeto</h5>
                        <h2>Nome da Atividade</h2>
                    </div>
                    <ng-template #newActivity>
                        <h5>Nome do Projeto</h5>
                        <mat-form-field class="activity-field">
                            <mat-label>Nome da Atividade</mat-label>
                            <input matInput class="activity-field-inner">
                        </mat-form-field>
                    </ng-template>
                </div>
            </div>
            <div class="buttons" [ngStyle]="{'margin-top': buttonsMarginTop}">
                <button mat-flat-button class="header-button" [ngStyle]="{'display': displayFirstHeaderButton, 'background-image': firstButtonColor, 'width':firstButtonWidth}" (click)="firstButtonFunction()">{{firstHeaderButton}}</button>
                <button mat-flat-button class="header-button" id="second-header-button" [ngStyle]="{'background-image': secondButtonColor, 'display': displaySecondHeaderButton}" (click)="secondButtonFunction()">{{secondHeaderButton}}</button>
            </div>
        </div>
    </div>

    <div mat-dialog-content class="activity-content">
        <div class="activity-form">
            <form>
                    <div>
                        <mat-form-field class="description">
                            <mat-label>Descrição da Atividade</mat-label>
                            <textarea matInput class="description-field" rows="10" [disabled]="isDisabled">{{data.description}}</textarea> 
                        </mat-form-field>
                    </div>
                    <div class="second-line">
                        <mat-form-field class="competences">
                            <mat-label>Competências</mat-label>
                            <input matInput value="{{data.competences}}" [disabled]="isDisabled">   <!-- TODO: get das competencias-->
                        </mat-form-field>
                        <mat-form-field class="complexities">
                            <mat-label>Complexidade</mat-label>
                            <mat-select value="{{data.complexity}}" [disabled]="isDisabled">
                                <mat-option *ngFor="let c of complexities" [value]="c">{{c}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="dates">
                            <mat-form-field class="date-picker" id="first">
                                <mat-label>Data Limite Candidatura</mat-label>
                                <input matInput [matDatepicker]="picker1" [formControl]="parseDate(data.candidatureLimitDate)" [disabled]="isDisabled">
                                <mat-datepicker-toggle matIconSuffix [for]="picker1" [disabled]="isDisabled"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="date-picker" id="second">
                                <mat-label>Data Limite para Entrega</mat-label>
                                <input matInput [matDatepicker]="picker2" [formControl]="parseDate(data.submitLimitDate)" [disabled]="isDisabled">
                                <mat-datepicker-toggle matIconSuffix [for]="picker2" [disabled]="isDisabled"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
    
                            <mat-form-field class="date-picker">
                                <mat-label>Data de Contestação</mat-label>
                                <input matInput [matDatepicker]="picker3" [formControl]="parseDate(data.contestDate)" [disabled]="isDisabled">
                                <mat-datepicker-toggle matIconSuffix [for]="picker3" [disabled]="isDisabled"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                    </div> 
                
            </form>
        </div>

    </div>
    
</div>
