<div class="activity-dialog">
    <div class="close">
        <button mat-dialog-close class="close-button"><mat-icon class="close-button-icon">close</mat-icon></button>
    </div>

    <div mat-dialog-title>
        <div class="activity-header">
            <div class="left-items">





                <div class="status" *ngIf="estado!='Nova'">
                    <button mat-flat-button class="status-button" [ngStyle]="{'background-image': statusButtonColor}">{{estado}}</button>
                        <h6 [ngStyle]="{'display': displayTimestamp}">Criada em dd/MM/yyy</h6>
                </div>

        
                <div class="activity-data">
                    <div *ngIf="estado!='Nova' ; else newActivity">
                        <h5>Nome do Projeto</h5>
                        <h2>Nome da Atividade</h2>
                    </div>
                    <ng-template #newActivity>
                        <h5>Nome do Projeto</h5>
                        <mat-form-field class="activity-field">
                            <mat-label>Nome da Atividade</mat-label>
                            <input matInput class="activity-field-inner">
                        </mat-form-field>
                    </ng-template>
                </div>
            </div>
            <div class="buttons">
                <button mat-flat-button class="header-button" [ngStyle]="{'display': displayFirstHeaderButton, 'background-image': firstButtonColor, 'width':firstButtonWidth}">{{firstHeaderButton}}</button>
                <button mat-flat-button class="header-button" id="second-header-button" [ngStyle]="{'background-image': secondButtonColor, 'display': displaySecondHeaderButton}">{{secondHeaderButton}}</button>
            </div>
        </div>
    </div>
    <div mat-dialog-content class="activity-content">
        <div class="activity-form">
            <form>
                <div >
                    <mat-form-field class="description">
                        <mat-label>Descrição da Atividade</mat-label>
                        <textarea matInput class="description-field" rows="10"></textarea> 
                    </mat-form-field>
                </div>
                <div class="second-line">
                    <mat-form-field class="competences">
                        <mat-label>Competências</mat-label>
                        <input matInput>    <!-- TODO: get das competencias-->
                    </mat-form-field>
                    <mat-form-field class="complexities">
                        <mat-label>Complexidade</mat-label>
                        <mat-select>
                            <mat-option value="Simples">Simples</mat-option>
                            <mat-option value="Média">Média</mat-option>
                            <mat-option value="Complexa">Complexa</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="dates">
                        <mat-form-field class="date-picker" id="first">
                            <mat-label>Data Limite Candidatura</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="date-picker" id="second">
                            <mat-label>Data Limite para Entrega</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="date-picker">
                            <mat-label>Data de Contestação</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                </div>
                <div class="students-data">
                    <mat-form-field class="requester">
                        <mat-label>Solicitante</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="executor">
                        <mat-label>Executor</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>


            </form>
        </div>
       <!--<div class="comments-form">
            <p>Comentario 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper neque sagittis commodo tristique. Suspendisse vulputate dignissim sapien, ac tempus urna sollicitudin id. Suspendisse nisl nisi, facilisis sed leo non, pulvinar viverra diam. Nunc laoreet ultrices leo. In quis dapibus purus. Cras vel justo nec massa rutrum tempus eget ut ante. Donec aliquam, justo sed efficitur volutpat, nibh quam maximus odio, vel congue quam leo eget turpis. Sed fringilla interdum purus et pellentesque.</p>
        </div>-->
    </div>
    
</div>
