<div class="activity-dialog">
    <div class="close">
        <button mat-dialog-close class="close-button"><mat-icon
                class="close-button-icon">close</mat-icon></button>
    </div>
    <div class="activity-header">
        <div class="left-items">
            <div class="status" *ngIf="displayStatus">
                <button mat-flat-button class="status-button"
                    [ngStyle]="{'background-image': statusButtonColor}">{{atividade.status.replace("_"," ")}}</button>
                <h6 [ngStyle]="{'display': displayTimestamp}">Criada em {{atividade.dataCriacao | date:'dd/MM/yyyy'}}</h6>
            </div>
            <div class="activity-header-data">
                <div *ngIf="!displayActivityHeaderData">
                    <div class="project-name">{{project.nome}}</div>
                    <div class="activity-name" *ngIf="!fillingReport && !disputingHours">{{atividade.nome}}</div>
                    <div class="activity-name" *ngIf="fillingReport && !disputingHours">Relatório de Conclusão</div>
                    <div class="activity-name" *ngIf="disputingHours">Contestação</div>
                </div>
                <div *ngIf="displayActivityHeaderData">
                    <h5>{{project.nome}}</h5>
                    <mat-form-field class="activity-field">
                        <mat-label >{{activityNameLabel}}</mat-label>
                        <input matInput class="activity-field-inner" [formControl]="activityName">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button mat-flat-button class="header-button"
                [ngStyle]="{'display': displayFirstHeaderButton, 'background-image': firstButtonColor, 'width':firstButtonWidth}"
                (click)="firstButtonFunction()">{{firstHeaderButton}}</button>
            <button mat-flat-button class="header-button" id="second-header-button"
                [ngStyle]="{'background-image': secondButtonColor, 'display': displaySecondHeaderButton}"
                (click)="secondButtonFunction()">{{secondHeaderButton}}</button>
        </div>
    </div>
    <div mat-dialog-content class="activity-content">
        <div class="activity-form">
            <form [formGroup]="activityForm">
                <div>
                    <mat-form-field class="description">
                        <mat-label>{{descriptionLabel}}</mat-label>
                        <textarea matInput class="description-field" rows="15"
                            formControlName="description"  required></textarea>
                    </mat-form-field>
                </div>
                <div [ngStyle]="{'display': showActivityFieldDispute}">
                    <div class="second-line" [ngStyle]="{'display': displaySecondLine}">

                        <!-- <mat-form-field class="competences" *ngIf="!fillingReport">
                            <mat-label>Cursos</mat-label>
                            <mat-select [(value)]="graduacao[0]" name="curso" formControlName="courses" required>
                              <mat-option *ngFor="let option of options" [value]="option">
                                {{ option.nome }}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="courses.errors?.['required'] && courses.touched">
                              Seleção dos cursos é obrigatória!
                            </mat-error>
                          </mat-form-field> -->
                          <mat-form-field class="competences" *ngIf="!fillingReport">
                            <mat-label>Cursos</mat-label>
                            <mat-select [(value)]="graduacao" name="curso" formControlName="courses" required multiple [compareWith]="compareGraduacoes">
                                <mat-option *ngFor="let option of options" [value]="option">
                                    {{ option.nome }}
                                </mat-option>
                            </mat-select>
    
                        </mat-form-field>
                        <mat-form-field class="competences" *ngIf="fillingReport">
                            <mat-label>Competências</mat-label>
                            <mat-select [(value)]="atividade.competencia" formControlName="competences">
                                <mat-option *ngFor="let c of competencias" [value]="c">{{c.nome}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                            <mat-form-field class="complexities" >
                            <mat-label>Complexidade</mat-label>
                            <mat-select [(value)]="complexidadeAtividade" formControlName="complexities" [compareWith]="compareComplexidades">
                                <mat-option *ngFor="let c of complexidades" [value]="c">{{ c.nome }} ({{ c.cargaHorariaMinima }}h - {{ c.cargaHorariaMaxima }}h)</mat-option>
                            </mat-select>
    
                        </mat-form-field>
                    </div>
                    <div class="dates" [ngStyle]="{'display': displayDates}">
                        <mat-form-field class="date-picker" id="first">
                            <mat-label>Data Limite Candidatura</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="candidatureDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker1" [disabled]="isDisabled"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="date-picker" id="second">
                            <mat-label>Data da Entrega</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="submitDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker2" [disabled]="isDisabled"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                            <button mat-flat-button color="primary" [matMenuTriggerFor]="attachments" class="attachments" *ngIf="atividade.status!=''">Ver Anexos</button>
                            <mat-menu #attachments="matMenu" yPosition="above">
                                <div *ngFor="let a of atividade.anexos">
                                    <button mat-menu-item (click)="downloadAnexo(a.id, a)">{{a.fileName}}</button>
                                </div>
                            </mat-menu>
                            <mat-form-field class="attachment-field" *ngIf="atividade.status===''">
                                <mat-label>Anexar Arquivos</mat-label>
                                <button mat-icon-button matSuffix (click)="f_input.click()">
                            <mat-icon>attach_file</mat-icon>
                            </button>
                                <input type="text" readonly matInput formControlName="uploadFile"/>
                                <input
                            type="file"
                            multiple
                            hidden
                            #f_input
                            (change)="f_input.files && handleFileInputChange(f_input.files)"
                            />
                            </mat-form-field>
                    </div>
                </div>
               
                <div *ngIf="disputingHours || readingHoursDispute" class="dispute-hours">
                    <mat-form-field class="hours-field">
                        <mat-label>Complexidade Oferecida</mat-label>
                        <input readonly [disabled]="true" matInput formControlName="disputedHoursValue">
                    </mat-form-field>
                    <mat-form-field class="hours-field" >
                        <mat-label>Complexidade</mat-label>
                        <mat-select [(value)]="complexidadeContestacao" formControlName="complexitiesContest" [compareWith]="compareComplexidades">
                            <mat-option *ngFor="let c of complexidades" [value]="c">{{ c.nome }} ({{ c.cargaHorariaMinima }}h - {{ c.cargaHorariaMaxima }}h)</mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="conclusion-form" *ngIf="fillingReport && !disputingHours">
                    <mat-form-field class="attachment-field">
                        <mat-label>Anexar</mat-label>
                        <button mat-icon-button matSuffix (click)="f_input.click()">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                        <input type="text" readonly matInput formControlName="uploadFile" />
                        <input
                    type="file"
                    multiple
                    hidden
                    #f_input
                    (change)="f_input.files && handleFileInputChange(f_input.files)"
                  />
                    </mat-form-field>

                </div>
            </form>
        </div>
        <div class="comments" [ngStyle]="{'display': displayComments}">
            <div class="comment-panel">
                <div *ngFor="let c of comentarios" class="comment">
                    <div class="comment-content">
                        <div class="commentor">{{c.usuario.nome}}</div>
                        <div class="comment-text">{{c.comentario}}</div>
                    </div>
                </div>
            </div>
            <div>
                <form class="comment-form" #f="ngForm">
                    <mat-form-field class="comment-form-field">
                        <input matInput ngModel placeholder="Escreva um comentário" name="commentInput"
                            (keydown.enter)="addComment(f)" [(ngModel)]="commentValue">
                        <mat-icon matSuffix (click)="addComment(f)">send</mat-icon>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
