
.activity-dialog {
    min-width: 80vw;
}

.activity-header{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity-data {
    width: 100% !important;
    margin-left: 2%;
}

.activity-field{
    width: 100%;
}

.activity-field-inner {
    width:100%;
}

.status {
    width: 20%;
    height: 100%;
}

.status-button {
    height:70%;
    background-color: green;
    color: white;
}



.left-items{
    width:66%;
    display:flex;
    flex-direction: row;
}
.activity-content{
    background-color: #EEF5F9;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1%;
}



.activity-form{
    width:65% !important;
    padding-right:1%;
}



.description{
    width:100%
}

.description-field{
    width:100%;
    //overflow: auto;
    resize: none;
}

.second-line {
    width: 100%;
    justify-content: space-between;
}

.competences {
    width: 66% !important;
    padding-right: 2%;
}

.complexities {
    width: 32% !important;
}

.dates {
    width: 100%;
    justify-content: space-between;
}


.date-picker {
    width: 32% !important;
    
}

#first {
    padding-right: 2%;
}

#second {
    padding-right: 2%;
}

.students-data {
    width: 100%;
    justify-content: space-between;
}

.requester {
    width: 66% !important;
    padding-right: 2%;
}

.executor {
    width: 32%;
}

.comments-form{
    background-color: #DCE6EC;
    max-width: 35%;
}