<button mat-dialog-close class="close close-button"><mat-icon class="close-button-icon">close</mat-icon></button>
<div class="cards-servidores">

	<div class="let-of-cards" *ngIf="hasObject()">
		<h1>Servidores</h1>
		<mat-form-field>
			<mat-label>Filter</mat-label>
			<input matInput (keyup)="applyFilter($event)" #input>
		</mat-form-field>
		<ng-container *ngIf="(obs | async) as servidores">
			<ng-container *ngIf="servidores.length > 0; else noServidores">
				<app-rect-card *ngFor="let servidor of obs | async" [nome]="servidor.nome" [firstLabel]="'Matricula'"
					[firstValue]="servidor.matricula" [secondLabel]="'Email'" [secondValue]="servidor.email"
					[thirdLabel]="'Telefone'" [thirdValue]="servidor.telefone"  
					[nameButtonRect]="'Selecionar'" [buttonColor]="'btn-green'" [showButton]="!servidor.incluido"
					[nameSecondButtonRect]="'Remover'" [secondButtonColor]="'btn-red'" [showSecondButton]="servidor.incluido"></app-rect-card>
			</ng-container>
		</ng-container>
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>
	<ng-template #noServidores>
		<div class="warning-card" *ngIf="inputValue && inputValue.length > 0">
			<app-warning [Description]="'A servidor \'' + inputValue + '\' não foi encontrada'"></app-warning>
		</div>
	</ng-template>

</div>