@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// body {
//     margin:0 !important;
//     background-color: #eef5f9;
//     height: 100%;
// }

html,
body,
.fullHeight {
    height: 100%;
    background-color: #ededed;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif!important;
}

.mat-mdc-select-disabled{
    color:black !important;
}

.mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
    color: black !important;
}



