<div class="container">
    <div class="row">
        <div class="rectangle">
            <mat-card class="square-card">
                <mat-card-header class="bg-primary text-white">
                    <div class="row">
                        <div class="col-6">
                            <h4>TÍTULO <span class="subtitle">subtitulo</span></h4>
                        </div>
                        
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-3">
                            <p>Atividade_criada_em</p>
                            <p>dd/mm/aaaa</p>
                        </div>
                        <div class="col-3">
                            <p>Solicitante</p>
                            <p>autor</p>
                        </div>
                        <div class="col-3">
                            <p>Executor</p>
                            <p>quem-executa</p>
                        </div>
                        <div class="col-3">
                            <button mat-button color="primary" size="small">Detalhes</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>